{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block title %}

    <title>Test Blog</title>
    {% endblock %}
</head>

<body>
  {% block sidebar %}
    <nav class="header-content__nav">
        <ul class="navigation">
            <li class="navigation__item"><a href ="{% url 'csv:data_schemas' %}">Schemas</a></li>
            <li class="navigation__item"><a href ="{% url 'csv:new_schema' %}">New Schema</a></li>

        </ul>
    </nav>
  {% endblock %}
  {% block content %}
  {% endblock %}
<script src="../../static/js/script.js"> </script>
</body>

</html>