{% extends "csv_gen/index.html" %}

{% block content %}
<form method = 'post'>
    {% csrf_token %}
    <div class="schema_detail_container">
        <div class="name_container schema_item">
            <label>Name</label>
            <input type="text" name="schema_name">
        </div>
        <div class="type_container schema_item">
            <label>Column separator</label>
            <select name="delimiter" onChange="select(this)">

                <option value="" selected="selected">---SELECT---</option>
                <option value=",">Comma(,)</option>
                <option value="%">Percentage(%)</option>
                <option value="/">Slash(/)</option>
                <option value="!">Exclamation mark(!)</option>
            </select>
        </div>
        <div class="type_container schema_item">
            <label>String character</label>
            <select name="string_character" onChange="select(this)">
                <option value="" selected="selected">---SELECT---</option>
                <option value='"'>Double-quote(")</option>
                <option value="@">Сommercial at(@)</option>
                <option value="&">Ampersand($)</option>
            </select>
        </div>
    </div>


    <div class="columns_container" id="columns_container"></div>
    <input type="submit" value="Submit">


</form>

<!--style="display:none"-->
    <div id="column_template">
        <div class="schema_column_container" style="border:1px solid black">
            <div class="column_name_container column_item">
                <label>Column name</label>
                <input type="text" name="column_name" >
            </div>
            <div class="type_container column_item">
                <select name="type" onChange="select(this)">

                    {% for x, y in column_form.fields.column_type.choices %}
                        <option value="{{ x }}"{% if column.column_type == x %} selected {% endif %}>{{ y }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="type_option hidden">
                <input class="type_option_from type_item" type="number" value="" name="option_from">
                <input class="type_option_to type_item" type="number" value="" name="option_to">
            </div>
            <div class="order_container column_item">
                <label>Order</label>
                <input type="number" name="order"> <!--x+=1-->
            </div>
            <div onClick="remove(this)">Remove column</div>
            <input type="hidden" name="column_numbers[]" />
        </div>

    </div>

    <button type="submit" class="add_column" onClick="add()">Add new column</button>
{% endblock %}